form input[type=text],
form input[type=number],
form input[type=password],
form input[type=url],
form input[type=email] {
  height: 38px;
}
form .form-control {
  border-radius: 1px;
}
form .form-control:active,
form .form-control:focus {
  box-shadow: none;
}
form .form-group label {
  line-height: 10px;
}
