body {
  background: #fafafa;
  font-family: Arial, sans-serif;
}
#up_header {
  height: 20px;
  background: #99e699;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#99e699, #4db34d);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#99e699, #4db34d);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#99e699, #4db34d);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#99e699, #4db34d);
  /* Standard syntax */
}
#header .navbar-default {
  border: 1px solid #0d0d53;
  border-radius: 0;
  background: url("../images/bg.png");
  margin: 0;
}
#header .navbar-default * {
  color: #fff;
}
#bottom_header {
  min-height: 70px;
  padding: 15px 0;
  background: #4db34d;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4db34d, #75bd75);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4db34d, #75bd75);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4db34d, #75bd75);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4db34d, #75bd75);
  /* Standard syntax */
  border-bottom: 1px solid #ddd;
}
#wrapper {
  padding: 30px 0 50px 0;
  color: #111;
}
#wrapper h3 {
  color: #0d0d53;
}
#footer {
  border-top: 2px solid #000033;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 7px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  background: url("../images/bg.png");
}
#myModal .modal-content {
  border-radius: 2px;
}
#myModal .go_to_register {
  line-height: 40px;
  color: #666;
}
#myModal .progress {
  margin: 0;
}
